[Unit]
Description=Kodi user autostart script
Before=kodi.service
After=network-online.target graphical.target
ConditionPathExists=/clue/.config/autostart.sh

[Service]
Type=oneshot
Environment=HOME=/clue
ExecStart=-/bin/sh -c ". /etc/profile; exec /bin/sh /clue/.config/autostart.sh"
RemainAfterExit=yes

[Install]
WantedBy=kodi.service
