[Unit]
Description=Bluetooth defaults
After=local-fs.target

ConditionPathExists=!/clue/.cache/services/bluez.conf
ConditionPathExists=!/clue/.cache/services/bluez.disabled

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'cp /usr/share/services/bluez.conf /clue/.cache/services/'
RemainAfterExit=yes
